PORT=8000
NODE_ENV=development
BASE_URL=http://localhost:8000
# database

DB_PASSWORD=ahmed2008khaled
DB_USER=ahmedkhaledamer
DB_NAME=Udemy-ecommerce-db
PASS=J20rQxo1BaC5whw3 
DB_URI=mongodb+srv://ahmedkhaled:J20rQxo1BaC5whw3@cluster0.rgczhlp.mongodb.net/SKY_CARE?retryWrites=true&w=majority
JWT_SECRET_KEY=THE_SECERT_KEY_JWT_IN
JWT_EXPIRE_TIME=90d

EMAIL_HOST="sandbox.smtp.mailtrap.io"
EMAIL_PORT=2525
EMAIL_USER="d75577e74eb704"
EMAIL_PASSWORD="af33c42d1b8e2e"
 

# frontend origin (Stripe redirects)
FRONTEND_URL=http://localhost:3000
# order settings
SHIPPING_PRICE=0
TAX_PRICE=0
